.section-header {
  color: #000000;
  text-align: center;
}

.section-header h2 {
  font-size: var(--h3);
  line-height: var(--lf-line-height);
  margin-bottom: 2.5rem;
  font-weight: 700;
}

.section-header p {
  font-size: var(--emph-text);
  line-height: var(--sf-line-height);
  margin-bottom: 2.5rem;
  font-weight: 500;
}